.studentList{
    /* position: absolute;
    top: 70%;
    left: 5%; */
    width: 970px;
}
.student{
    margin-right: 10px;
    margin-bottom: 30px;
    height: 30px;
    width: 120px;
    background-color: #eeeeee;
    font-size: small;
}
.title{
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin-bottom: 10px;
}
.value{
    height: 27px;
    width: 110px;
}