.group{
    position: absolute;
    top: 10%;
    left: 45%;
    width: 300px;
}
.groupTitle{
    width: auto;
    width: 300px;
    background-color:  #eeeeee;
    text-align: center;
    margin-bottom: 20px;
}
.but{
    position: absolute;
    top: 0%;
    right: -20%;
}
.list{
    background-color:  white;
}
span{
    font-size: large;
}