.group{
    position: relative;
    background-color: #f7f7f7;
}
.groupTitle{
    width: 870px;
    background-color:  #929aab;
    text-align: center;
    margin-bottom: 20px;
}
.but{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100px;
    background-color: #ea5455;
}
.list{
    background-color:  white;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
span{
    font-size: large;
}
.studentgroup{
    margin-right: 20px;
    height: 30px;
    width: auto;
    padding:  8px 25px;
    background-color: #eeeeee;
}
.title{
    color: white;
}
.content{
    margin-top: 2%;
}